/* List view */
.list-view .content {
    display: flex;
}

.list-view .contact-grid {
    flex: 3;
}

.list-view .contact-form {
    flex: 1 600px;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
   }
}